{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% block content %}

 <!-- Sticky Header -->
 {% include "portal/includes/header.html" %}

<div class="wrapper">
  
    {% include "portal/includes/side-nav.html" %}
  

  <!-- Main Content -->
  <div class="main-content">
      <h2>Main Content</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      <p>Scroll down to see the sticky effect!</p>
      <div style="height: 1500px; background: #f8f9fa;"></div>
  </div>
</div>





{% endblock content %}