{% extends "base.html" %}
{% load static %}
{% block page_title %}Portal Login{% endblock page_title %}
{% block css %}<link rel="stylesheet" href="{% static 'portal/css/login.css' %}" />{% endblock css %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center" style="height:100vh;">
  <div class="login-wrapper">
    <div class="logo">
        <img src="{% static "images/logo.png" %}" alt="">
    </div>
    <div class="text-center mt-4 name">
        Recycle For Charity
    </div>
    <form class="p-3 mt-3" method="POST">
        {% csrf_token %} 
        {% for field in loginForm %}
        {{ field.label_tag }}
          <div class="form-field d-flex align-items-center">
            {{ field }} {{ field.errors }}
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a> or <a href="#">Sign up</a>
    </div>
  </div>
</div>


{% endblock content %}


