{% extends "base.html" %}
{% load static %}

{% block page_title %}Portal Login{% endblock page_title %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center" style="height:100vh;">
  <img src="{% static "images/logo-word.png" %}" width="30%" class="mb-5">
  <div class="container-fluid mt-3 col-md-6 col-lg-6 my-a shadow p-3 mb-5 bg-body rounded text-center">
    <h2>Login form</h2>
      <form method="POST" class="max-w-sm mx-auto ">
        {% csrf_token %} 
        {% for field in loginForm %}
        <div class="mb-3 mt-3">
          <label class="form-label">{{ field.label_tag }}</label>
          {{ field }} {{ field.errors }}
        </div>
        {% endfor %}
        <div class="flex items-center justify-end">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}


