{% extends "base.html" %} 
{% load static %}
{% block content %}

 <!-- Sticky Header -->
 {% include "portal/includes/header.html" %}

<div class="wrapper">
    {% include "portal/includes/side-nav.html" %}
  
  <!-- Main Content -->
  <div class="main-content">
      <h2>Setting page</h2>
      

      <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6" >
              {% if form.errors %}
                  <div class="alert alert-danger mt-3">
                      <ul>
                          {% for field, errors in form.errors.items %}
                              {% for error in errors %}
                                  <li>{{ field }}: {{ error }}</li>
                              {% endfor %}
                          {% endfor %}
                      </ul>
                  </div>
              {% endif %}
                <div class="card shadow-lg">
                    <div class="card-header text-white text-center primary-bg-color">
                        <h4>Reset Password</h4>
                    </div>
                    <div class="card-body">
                      
                        <form method="post" action="{% url 'portal:settings' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Current Password</label>
                                {{ form.old_password }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">New Password</label>
                                {{ form.new_password1 }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Confirm New Password</label>
                                {{ form.new_password2 }}
                            </div>
                            <button type="submit" class="btn primary-bg-color w-100 text-white" onclick="console.log('Submitting form...')">Update Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
</div>
{% endblock content %}