{% load static %}

{% comment %} {{ active_page }} {% endcomment %}
<link rel="stylesheet" href="{% static 'challenges/css/header.css' %}" />
<nav class="navbar navbar-expand-sm navbar-dark sticky-top">
  <div class="container-fluid  mx-5">
    <a class="navbar-brand" href="http://127.0.0.1:8000/">
      <img src="{% static "images/logo.png" %}" alt="Logo" height="45"  class="d-inline-block me-5">
      Recycle For Charity
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      {% comment %} <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url "index" %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "index" %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "index" %}">Contact</a>
        </li>
      </ul> {% endcomment %}
      <div class="me-auto"></div>
        <button class="btn btn-primary btn-color-primary" 
        type="button"  onclick="window.location.href='{% url 'portal:portal_login' %}';">Login</button>
    </div>
  </div>
</nav>