@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
}


#foo {
  color: #98D8EF;
  color: #EAE2C6;
  color: #BFBBA9;
  color: #ADA991;

  color: #89A8B2;
  color: #B3C8CF;
  color: #E5E1DA;
  color: #F1F0E8;

  color: #D3F1DF;
  color: #85A98F;
  color: #5A6C57;
  color: #525B44;

}

