.navbar {
  background-color: #89A8B2;
  position: sticky;
  top: 0;
  z-index: 1020;
  width: 100%;
}

.btn-color-primary {
  background-color: #98D8EF!important;
  border-color: #98D8EF!important;
  padding: 10px 20px;
  font-size: 16px;
}